/***************body***************/
body {
  font-family: Cinzel, serif;
}
/***************End body***************/

/**************Content************/
.page-content{
      min-height: calc(100vh - 56px);
}
/**************End Content************/

/***************Header************/
.navbar {
  margin-bottom: 0;
  width: 100%;
  background-color: #f5f5ea;
  border: 0;
  display: flex !important;
  padding-left: 0.6rem;
}
.navbar .navbar-brand {
  color: brown;
  font-family: "Expo";
  font-weight: bold; 
  font-style: italic;
}
.navbar .navbar-toggler {
  border: 0;
}
.navbar-toggler {
  background-color: brown;
}

.navbar .navbar-nav .nav-link {
  font-weight: bold;
  color: brown;
  font-family: "Expo";
}

.ml-auto {
  margin-left: inherit;
}

.navbar a:hover {
  background-color: #000;
}

/***************media query**************/
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
  .navbar-brand {
    font-size: 20px;
  }
}
/***************End Header***************/

/****************footer******************/
.footer {
  background-color:#f5f5ea; 
  color: brown;
  min-height: 80px;
  width: 100%;
  bottom: 0px;
  margin-top: auto;
}

.footer-div {
    padding-top: 10px;
}

#footer-details {
  padding: 10px;
  text-align: center;
}

.social-links {
  padding-bottom: 10px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 10px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 7px;
  text-align: center;
  color: brown;
  background: #f5f5ea;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #000;
}

/******************End Footer****************/

/******************Home Page*****************/
#home-image {
  background: url("../image/home.jpg") no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #8f8f8f;
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: center;
  position: relative;
}

.home-page {
    margin-right: 15px;
}

.landing-text {
    color: brown;
    background-size: cover;
    background-color: #f5f5ea;
    border-radius: 50%;
    font-size: 20px;
    font-style: italic;
    text-shadow: 10px 10px 20px #fafafa;
    padding:10px;
    margin-bottom: 30px;
    margin-top: 30%; 
    align-items: center;
    text-align: center;
    height:fit-content;
} 

/************Search Box*************/
.search-box {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 70%;
    background: #f5f5ea;
    margin:auto;   
}

.search-box input {
    min-width: 400px;
    height: 40px;
}
.search-box button {
  float: right;
  width: 10%;
  padding: 10px;
  background: brown;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  height:40px;
}

.search-box button:hover {
    background-color: #000;
}


/*media query*/
@media screen and (max-width: 768px) {
  .landing-text {
    font-size:15px;
  }
  h2 {
     font-size:20px; 
  }
}

.recipe-header {
    padding-top: 50px;
    margin:30px;
    background-color: #f5f5ea;
    color: brown;
    font-size: 30px;
    font-weight: bold;
    width: 500px;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.recipe-read {
    text-align: justify;
    align-items: center;
    margin: 50px;
}
.recipe-img{
    display: block;
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
.recipe-title {
    color: #000;
    font-size: 20px;
}
.recipe-name {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    text-decoration: underline;
}
/*End Home Page*/

/* Sign In Page*/
.container-login {
  background: url("../image/login.jpg") no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: dimgray;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}
.login-box {
  background-color: #f5f5ea;
  padding: 2rem 1rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 100%;
  min-width: 400px;
  font-family: "expo";
  color: #131315;
}
.forgot-pass {
  color: #131315;
  align-items: center;
  text-align: right;
}
/*End Sign in page*/

/*Sign up Page*/
.container-signup {
  background: url("../image/signup.jpg") no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: dimgray;
  display: flex;
  height: 100vh;
  justify-content: right;
  position: relative;
}

/*End Sign up Page*/
.message-container {
  background: url("../image/contact.jpg") no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: dimgray;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}
.message-box {
  background-color: #f5f5ea;
  padding: 2rem 1rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 100%;
  min-width: 400px;
  color: #131315;
}
.header-form {
    font-size:20px;
}

/*media query*/
@media screen and (max-width: 500px) {
  .message-box {
    padding: 1rem 1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.header-form {
    font-size:15px;
}
}
/*End Contact Page*/

.profile-header {
    margin-top: 100px;
    align-items: center;
    text-align: center;
}
/*************Flash*************/
.flashes h4 {
    line-height: 2;
}
.btn-brown {
    background-color: brown;
    color: #ffffff;
    width: 90px;
    margin:10px;
}
