{% extends "base.html" %}
{% block content %}

<div class="container container-fluid">
    <div class="row">
        <div class="col-12">
            <!--Page Heading-->
            <section class="callout add-box text-center">
                <h2>Edit Recipe!!</h2>
                <!--Display Recipe Form-->
                <form method="POST" action="{{ url_for('edit_recipe',recipe_id=recipe._id) }}">
                    <!-- Category name -->
                    <div class="row">
                        <div class="col-sm-12">
                            <select id="category_name" name="category_name" class="validate" required>
                                <option value="" disabled selected>Choose category</option>
                                {% for category in categories %}
                                <option value="{{ category.category_name}}">{{ category.category_name}}</option>
                                {% endfor %}
                            </select>
                            <label for="category_name">Recipe category</label>
                        </div>
                    </div>
                    <!--Recipe Desription in Edit Mode-->
                    <div class="row">
                        <label for="recipe_name" class="form-label">Recipe Name</label>
                        <div class="input-group mb-3">
                            <input type="text" name="recipe_name" id="recipe_name" value="{{recipe.recipe_name}}"
                                class="form-control" placeholder="Recipe Name" aria-label="Recipe Name"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="row">
                        <label for="chef" class="form-label">Chef</label>
                        <div class="input-group mb-3">
                            <input type="text" name="chef" id="chef" value="{{recipe.chef}}" class="form-control"
                                placeholder="Chef" aria-label="Chef" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="row">
                        <label for="image" class="form-label">Image URL</label>
                        <div class="input-group mb-3">
                            <input type="text" name="image" value="{{recipe.image}}" class="form-control" id="image"
                                aria-describedby="basic-addon3">
                            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="serving" class="form-label">Serving</label>
                        <div class="input-group mb-3">
                            <input type="text" name="serving" id="serving" value="{{recipe.serving}}"
                                class="form-control" placeholder="Serving" aria-label="Serving"
                                aria-describedby="basic-addon4">
                            <span class="input-group-text" id="basic-addon4">For Example: 2</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="prep_time" class="form-label">Preparation Time</label>
                        <div class="input-group mb-3">
                            <input type="text" name="prep_time" id="prep_time" value="{{recipe.prep_time}}"
                                class="form-control" placeholder="Prep Time" aria-label="Prep Time"
                                aria-describedby="basic-addon5">
                            <span class="input-group-text" id="basic-addon5">For Example: 20 mins.</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="cook_time" class="form-label">Cook Time</label>
                        <div class="input-group mb-3">
                            <input type="text" name="cook_time" id="cook_time" value="{{recipe.cook_time}}"
                                class="form-control" placeholder="Cook Time" aria-label="Cook Time"
                                aria-describedby="basic-addon6">
                            <span class="input-group-text" id="basic-addon6">For Example: 20 mins.</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="total_time" class="form-label">Total Time</label>
                        <div class="input-group mb-3">
                            <input type="text" name="total_time" id="total_time" value="{{recipe.total_time}}"
                                class="form-control" placeholder="Total time" aria-label="Total Time"
                                aria-describedby="basic-addon7">
                            <span class="input-group-text" id="basic-addon7">For Example: 20 mins.</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="ingredients" class="form-label">Ingredients</label>
                        <div class="input-group">
                            <textarea class="form-control" name="ingredients" id="ingredients"
                                aria-label="Ingredients">{{recipe.ingredients}}</textarea>
                            <span class="input-group-text">Write each ingredient in new line</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="directions" class="form-label">Directions</label>
                        <div class="input-group">
                            <textarea class="form-control" name="directions" id="directions"
                                aria-label="Directions">{{recipe.directions}}</textarea>
                            <span class="input-group-text">Write each step in new line.</span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="username" class="form-label">Username</label>
                        <div class="input-group mb-3">
                            <input type="text" name="username" id="username" value="{{recipe.username}}"
                                class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                            <span class="input-group-text">@</span>
                        </div>
                    </div>
                    <!--Button And Cancel Link-->
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-brown">Update</button>
                            <a class="btn btn-brown" href="{{ url_for('mypage', username=session['user']) }}">Cancel</a>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

{% endblock %}