<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <!--jQuery, Popper.js, and Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
    <!--Font awesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <!--hover.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
        type="text/css" />
    <!--font family-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <!--CSS File-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!--Favicon link-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/logo/favicon-16x16.png">
    <link rel="manifest" href="static/logo/site.webmanifest">
    {% block styles %}
    {% endblock %}
    <title>Ruby's Kitchen</title>
</head>

<body>

    <header>
        <!--Navbar-->
        <div class="container-fluid">
            <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
                <a href="#" class="navbar-brand">Ruby's Kitchen</a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">My Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--Navbar-->
    </header>
    <div class="page-content">
        {% block content %}
        {% endblock %}
    </div>
    <!--Footer-->
    <footer class="footer footer-div mt-auto container-fluid">
        <div id="footer-details" class="row">
            <div class="col-sm-6 f-text">
                <h5 class="uppercase general-sub">copyright<i class="fa fa-copyright list-inline-item"
                        aria-hidden="true"></i>2020Ruby</h5>
            </div>
            <div class="col-sm-6">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" rel="noopener" href="https://www.facebook.com">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" rel="noopener" href="https://www.twitter.com">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" rel="noopener" href="https://www.instagram.com">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" rel="noopener" href="https://www.youtube.com">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!--footer-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>