{% extends "base.html" %}
{% block content %}

<div class="container-fluid container-wrapper">
    <!--Hero Image Section-->
    <section id="home-image">
        <div class="row">
            <div class="col-12 landing-text">
                <h2>Ruby's Kitchen</h2>
            </div>
            <!--Search Box-->
            <div class="col-12">
                <form class="search-box" action="{{ url_for('search') }}" method="post">
                    <input type="text" placeholder="Search Recipe.." name="query" id="query">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </section>

    <!--Section To Display All Recipes-->
    <section>
        <div class="recipe-text">
            <h2 class="recipe-header">Recipes</h2>
        </div>
        <div class="container">
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-12 col-md-6 col-lg-4 recipe-read">
                    <img class="recipe-img" src="{{ recipe.image }}" alt="{{ recipe.recipe_name }}">
                    <div class="recipe-title">
                        <a href="{{ url_for('recipes', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a>
                    </div>
                    <div class="recipe-chef">By chef: {{ recipe.chef }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--Back to top button-->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top<i class="fa fa-arrow-up"></i></button>
</div>

{% endblock %}