{% extends "base.html" %}
{% block content %}

<div class="page-content">
    <div class="row">
        <div class="col-12 profile-header">
            Welcome {{ username }}'s Page.
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5><a href="{{ url_for('add_recipe') }}">Add new recipe +</a></h5>
        </div>
    </div>
    <section>
        <div class="row ">
            <div class="col-sm-12">
                <h3 class="center-align">Recipes</h3>
                <div class="row">
                    {% for recipe in user_recipes %}
                    <div class="col-sm-4 recipe-read">
                        <a href="{{ url_for('recipes', recipe_id=recipe._id) }}">
                            <img class="recipe-img" src="{{ recipe.image}}" alt="recipe">
                            <span class="card-title recipe-title">{{ recipe.recipe_name }}</span>
                            <a href="#">Edit recipe</a>
                            <a href="#">Delete recipe</a>
                        </a>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}